html {
    background-color: transparent;
}
body {
    background-color: transparent;
}

.navbar {
    background-color: transparent;
}

#navbar-su-logo {
    height: 50px;
    width: 50px;
    viewBox: 0 0 250 250;
}

#su-img {
    width: 50px;
    height: 50px;
}

#su-banner {
    /* background-color: lightgray; */
}

#su-logo-group {
    /* bs-blue */
    stroke: #0d6efd;
    /* baby blue */
    /* stroke: #32E2F1; */
    /* blue */
    /* stroke: #0E8FF7; */
    /* stroke: blueviolet; */
    fill-opacity: 0;
}

.su-home {
    height: 100%;
}

.account-img {
    height: 125px;
    width: 125px;
    /* margin-right: 20px;
    margin-bottom: 16px; */
}

.search-img {
    height: 50px;
    width: 50px;
}

.dropdown-menu-center {
    width: 375px;
    left: 50% !important;
    transform: translateX(-50%) !important;
    top: 100% !important;
}