{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="d-flex flex-column align-items-center justify-content-center flex-grow-1" id="su-banner">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <legend class="border-bottom mb-4">Transaction</legend>
            {{ form|crispy }}
            <div class="row flex-grow-1">
                <div class="col-12 flex-grow-1">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock content %}