{% extends "base.html" %}
{% block content %}
    <div class="container-fluid h-100 pt-5 flex-grow-1" >
        <div class="d-flex flex-column align-items-center justify-content-center flex-grow-1" id="su-banner">
            <svg class="mb-1" width="250" height="250">
                <use href="#su-logo-group" />
            </svg>
            <div class="mb-3">
                <h1 class="display-1 fw-bold">Square Up</h1>
            </div>
            <button type="button" class="btn btn-primary">Sign Up</button>
        </div>
    </div>
{% endblock content %}