{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row g-3 justify-content-center">
    <div class="col-md-4">
        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Log In</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group mb-3">
                    <button class="btn btn-primary" type="submit">Log In</button>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Need an account? <a href="{% url 'register' %}" class="ml-2">Sign In</a>
                </small>
            </div>
        </div>
    </div>
</div>
{% endblock content %}